* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-family: cursive;
}

#tChicken {
  background-color: pink;
}

#tBeef {
  background-color: red;
}

#tSushi {
  background-color: yellow;
}

.cMenu {
  background-color: gray;
  position: relative;
}

.title {
  margin-top: 0;
  width: 200px;
  height: 25px;
  position: absolute;
  top: 0;
  right:0;
  text-align: center;
  border: 1px solid black;
  font-size:125%;
}

.cMenuItem {
	margin-top: 30px;
}

@media (min-width: 992px) {
  .col-lg-4 {
  	float: left;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 32%;
 }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
  	float: left;
    border: 1px solid black; 
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .col-md-6 {
    width: 48%;
  }
  .col-md-12 {
    width: 97%;
  }
}

@media (max-width: 767px) {
  .col-sx-12 {
  	float: left;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
}