body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;  
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
#nav-list{
  text-align: center;
}
#item{
  border-bottom: 2px solid #662D91; 
}
#menutext {
  color: #fff;
  background-color: #61122f;
  margin-left: 50px;
  margin-right: 50px;
  padding-left:20px;
  padding-right:20px;
  width: 90%;
}