body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;  
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
#nav-list{
  border: 2px solid #662D91;
  margin-top: 0;
  margin-bottom: 0;
}
#item{
  border-bottom: 2px solid #662D91; 
}
#menutext {
  color: #fff;
  background-color: #61122f;
  margin-left: 50px;
  margin-right: 50px;
  padding-left:20px;
  padding-right:20px;
  width: 90%;
}